@model Org.Ktu.Isk.P175B602.Autonuoma.Models.DarbuotojasCE
@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Administracijos darbuotojo sukūrimas"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-ce" }) )
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	
		<fieldset>
		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Tabelis)
			@Html.EditorFor(m => m.Darbuotojas.Tabelis)
			@Html.ValidationMessageFor(m => m.Darbuotojas.Tabelis, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Vardas)
			@Html.EditorFor(m => m.Darbuotojas.Vardas)
			@Html.ValidationMessageFor(m => m.Darbuotojas.Vardas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Pavarde)
			@Html.EditorFor(m => m.Darbuotojas.Pavarde)
			@Html.ValidationMessageFor(m => m.Darbuotojas.Pavarde, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.TelefonoNr)
			@Html.EditorFor(m => m.Darbuotojas.TelefonoNr)
			@Html.ValidationMessageFor(m => m.Darbuotojas.TelefonoNr, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.Elpastas)
			@Html.EditorFor(m => m.Darbuotojas.Elpastas)
			@Html.ValidationMessageFor(m => m.Darbuotojas.Elpastas, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.GimimoData)
			@Html.TextBoxFor(m => m.Darbuotojas.GimimoData, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
			@Html.ValidationMessageFor(m => m.Darbuotojas.GimimoData, "")
		</div>

		<div class="form-group" formaction="@Url.Action()#listEnd" formvalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@>
			@Html.LabelFor(m => m.Darbuotojas.fkVairavimoMokykla)
			@Html.DropDownListFor(m => m.Darbuotojas.fkVairavimoMokykla, Model.Lists.Mokyklos, (string)ViewData["none-chosen"], new {@onchange="this.form.submit()"})
			@Html.ValidationMessageFor(m => m.Darbuotojas.fkVairavimoMokykla, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Darbuotojas.fkFilialas)
			@Html.DropDownListFor(m => m.Darbuotojas.fkFilialas, Model.Lists.Filialai, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Darbuotojas.fkFilialas, "")
		</div>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>